
.text{
    text-transform: uppercase;
    color: red;
    text-align: justify;
  }
  p{
    font-size: 20px;
    color: blue;
  } 
  #heading{
    color: green;
  }
  div{
    width: 70%;
    height: 500px;
    border: 1px solid green;
    /* background-color: brown; */
  }
  a:link{
    color: brown;
    
  }
  a:visited{
    color: green;
  }
  a:hover{
    color: blue;
  }
  a:active{
    color: burlywood;
  }