*{
    margin: 0;
    padding: 0;
}
div{
    width: 20%;
    height: 130px;
    background-color: blue;
    position: absolute;
    bottom: 0%;
    left: 0%;
    animation: plan 5s linear 2s infinite ;

}
img{
    width: 100%;
    height: inherit;
}
@keyframes plan {
    from{
        bottom: 0%;
        left: 0%;
    }
    to{
        bottom: 100%;
        left: 100%;
    }
    
}